<div class="contact-container">

    <h1>FORMULARIO DE CONTACTO</h1>

    <div>
        <label for="name">
            Nombre:
            <input id="name" type="text" [(ngModel)]="name"/>
        </label>
        <!-- Si el nombre está vacio: -->
        <p *ngIf="nameEmpty" class="error">El nombre no puede estar vacio.</p>

        <label for="about">
            Asunto:
            <input id="about" type="text" [(ngModel)]="about"/>
        </label>
        <!-- Si el asunto está vacio: -->
        <p *ngIf="aboutEmpty" class="error">El asunto no puede estar vacio.</p>

        <label for="content">
            ¿De qué se trata?:
            <textarea id="content" type="text" [(ngModel)]="content"></textarea>
        </label>
        <!-- Si el mensaje está vacio: -->
        <p *ngIf="contentEmpty" class="error">El contenido no puede estar vacio.</p>

        <!-- Si está todo relleno: -->
        <p *ngIf="formFull" class="exito">¡Gracias! Hemos recibido su formulario correctamente :)</p>

        <button (click)="receiveForm()">Enviar</button>
    </div>

</div>