<h1>Iniciar Sesión</h1>


<!-- Si no hay sesión, muestro este contendio. -->

<div *ngIf="!logged; else loggedTrue">
    <label for="userName">
        Nombre de Usario:
        <input id="userName" type="text" [(ngModel)]="userName"/>
    </label>
    <p *ngIf="userNameError">El nombre de usuario no puede estar vacio.</p>

    <label for="pass">
        Contraseña:
        <input id="pass" type="password" [(ngModel)]="pass"/>
    </label>
    <p *ngIf="passError">La contraseña no puede estar vacia.</p>

    <!-- Muestro uno de los siguientes mensajes, según si ha introducido un usuario y contraseña correctos. -->
    <p *ngIf="logged">Usuario y contraseña correctos, ir a registro.</p>
    <p *ngIf="loggedError">Usuario o contraseña incorrectos, intentalo de nuevo.</p>

    <button (click)="login()">Iniciar Sesión</button>
</div>


<!-- Si ya existe la sesión, muestro este. -->

<ng-template #loggedTrue>
    <p>Hola! {{userNameFixed}}, has iniciado sesión con éxito.</p>
    <p>Ya puedes navegar por el sitio web.</p>
</ng-template>