<div>
    <ul>
        <li><a [routerLink]="[ '/games', userName ]">Video Juegos</a></li>
        <li><a routerLink="/about">Sobre Nosotros</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <!-- Muestro el nombre de usuario. -->
        <li>Bienvenido {{userName}}</li>
    </ul>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           